* {
  font-family: avenir, arial;
  background: black;
  transition: 0.25s;
}

html {
  width: 167px;
}

body {
  background: black;
  color: white;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}